<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClSVyQ3GJSO5gHQ0y5B5sVmSYefwt68mI</string>
	<key>GCM_SENDER_ID</key>
	<string>994781876249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.edu.ait.contactsmanager</string>
	<key>PROJECT_ID</key>
	<string>contacts-95ebf</string>
	<key>STORAGE_BUCKET</key>
	<string>contacts-95ebf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994781876249:ios:0973ffb1999107609f9a88</string>
</dict>
</plist>